bluemix.json
[{"id":"6bf3cd79.2bcf14","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"d2dbed0b.89315","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cada9736.52c758","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9625473c.9eb7d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99f5000e.70a73","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b5325a2b.4c6de8","type":"ui_group","z":"","name":"Default","tab":"99f5000e.70a73","order":1,"disp":true,"width":"6","collapse":false},{"id":"d99a5b43.210238","type":"debug","z":"d2dbed0b.89315","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":180,"wires":[]},{"id":"fa2c1bd5.3382a8","type":"inject","z":"cada9736.52c758","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":90,"y":160,"wires":[["d54b47c4.7f3188"]]},{"id":"cd4d79fb.aa8d38","type":"inject","z":"cada9736.52c758","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":90,"y":320,"wires":[["d54b47c4.7f3188"]]},{"id":"d54b47c4.7f3188","type":"function","z":"cada9736.52c758","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["d7ca8b9f.c1a898"]]},{"id":"d7ca8b9f.c1a898","type":"json","z":"cada9736.52c758","name":"","property":"payload","action":"","pretty":false,"x":310,"y":360,"wires":[["52bc5522.e841ec"]]},{"id":"d00a630c.30626","type":"ui_button","z":"d2dbed0b.89315","name":"","group":"b5325a2b.4c6de8","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":480,"wires":[[]]},{"id":"5ccb6313.d7a67c","type":"function","z":"d2dbed0b.89315","name":"Suhu","func":"msg.payload=msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":280,"wires":[["50cba853.271da8"]]},{"id":"9db1a833.4cd938","type":"function","z":"d2dbed0b.89315","name":"Tekanan","func":"msg.payload=msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":360,"wires":[["6b1f76b7.54abd8"]]},{"id":"a43ad1c3.64f34","type":"function","z":"d2dbed0b.89315","name":"Kelembapan","func":"msg.payload=msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":320,"wires":[["abf636c1.6a9778"]]},{"id":"50cba853.271da8","type":"ui_gauge","z":"d2dbed0b.89315","name":"","group":"b5325a2b.4c6de8","order":1,"width":0,"height":0,"gtype":"gage","title":"suhu","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":280,"wires":[]},{"id":"abf636c1.6a9778","type":"ui_gauge","z":"d2dbed0b.89315","name":"","group":"b5325a2b.4c6de8","order":2,"width":0,"height":0,"gtype":"gage","title":"kelembapan","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":320,"wires":[]},{"id":"6b1f76b7.54abd8","type":"ui_gauge","z":"d2dbed0b.89315","name":"","group":"b5325a2b.4c6de8","order":3,"width":0,"height":0,"gtype":"gage","title":"tekanan","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":360,"wires":[]},{"id":"2c21111c.55541e","type":"debug","z":"6bf3cd79.2bcf14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":120,"wires":[]},{"id":"52bc5522.e841ec","type":"ibmiot out","z":"cada9736.52c758","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027e67255","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":330,"y":460,"wires":[]},{"id":"20e4774.1f40c88","type":"ibmiot in","z":"d2dbed0b.89315","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":180,"wires":[["d99a5b43.210238","5ccb6313.d7a67c","a43ad1c3.64f34","9db1a833.4cd938"]]},{"id":"ed41cd09.a8d2d","type":"ibmiot in","z":"6bf3cd79.2bcf14","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":140,"wires":[["2c21111c.55541e"]]}]