raspberry.json
[{"id":"8f8b12d1.f5e85","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a48a64e0.b724d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2d40d986.435196","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3546ca9f.af6cd6","type":"wiotp-credentials","z":"","name":"","org":"fewoh9","serverName":"","devType":"raspberrypi","devId":"080027e67255","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"35ca402e.716db","type":"inject","z":"8f8b12d1.f5e85","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["d3bd46e0.c42168"]]},{"id":"d3bd46e0.c42168","type":"random","z":"8f8b12d1.f5e85","name":"","low":"1","high":"10","inte":"true","property":"payload","x":320,"y":100,"wires":[["f1ec3e78.d79fd"]]},{"id":"f1ec3e78.d79fd","type":"function","z":"8f8b12d1.f5e85","name":"Format Data","func":"msg.payload = { 'd' : {'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["88833848.592288","822a77ea.201238"]]},{"id":"88833848.592288","type":"debug","z":"8f8b12d1.f5e85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":140,"wires":[]},{"id":"b8b29663.49e1b8","type":"debug","z":"a48a64e0.b724d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":200,"wires":[]},{"id":"aa03cfd9.aa47a","type":"rpi-sensehatsim in","z":"2d40d986.435196","name":"","motion":false,"env":true,"stick":false,"x":100,"y":140,"wires":[["3bb2b19f.f9978e","6c25ade8.673534"]]},{"id":"3bb2b19f.f9978e","type":"delay","z":"2d40d986.435196","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":140,"wires":[["8d0265b7.4d1e88"]]},{"id":"8d0265b7.4d1e88","type":"function","z":"2d40d986.435196","name":"","func":"msg.payload = {\"Data\" : {\"Environment\": msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId = \"senb080027e67255\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["c0ff33c0.bb1ca","b37da2a7.9ff7a"]]},{"id":"c0ff33c0.bb1ca","type":"debug","z":"2d40d986.435196","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":280,"wires":[]},{"id":"b37da2a7.9ff7a","type":"wiotp out","z":"2d40d986.435196","authType":"g","qs":"true","qsDeviceId":"123456789","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":460,"y":380,"wires":[]},{"id":"6c25ade8.673534","type":"ibmiot out","z":"2d40d986.435196","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"123456789","deviceType":"0.20.7","eventCommandType":"event","format":"json","data":"json","qos":0,"name":"IBM IoT","service":"quickstart","x":460,"y":500,"wires":[]},{"id":"d47add61.ff91c","type":"inject","z":"2d40d986.435196","name":"","topic":"","payload":"{\"a\":\"IM FROM PI\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["6c25ade8.673534"]]},{"id":"a46692be.7c2af","type":"wiotp in","z":"a48a64e0.b724d8","authType":"d","deviceKey":"3546ca9f.af6cd6","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":140,"y":200,"wires":[["b8b29663.49e1b8"]]},{"id":"822a77ea.201238","type":"wiotp out","z":"8f8b12d1.f5e85","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"3546ca9f.af6cd6","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":480,"y":280,"wires":[]}]